name: SENTINEL Engine

on:
  schedule:
    - cron: '*/15 * * * *' # Se ejecuta automático cada 15 min
  workflow_dispatch:      # Este activa el botón manual que ocupamos

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run collector
        env:
          PYTHONPATH: .
        run: python scripts/download_and_hash.py

      - name: Commit and Push changes
        run: |
          git config --global user.name 'Sentinel-Bot'
          git config --global user.email 'bot@sentinel.ai'
          git add data/ hashes/
          git commit -m "Auto-update: Snapshot C.E.N.T.I.N.E.L." || exit 0
          git push
